
/*sectioning tags*/
div img {
    height: 70vh;
    object-fit: scale-down;
    background-color: #efede6;
    max-height:fit-content;
    width: auto;
}
.adobe-bg {
    width: 75%;
    background-color: #D4D2A5;
    align-content: center;
    justify-items: center;
    flex: 6;
    height: 100%;
}
.adobe-interface {
    flex-direction: row; 
    display: flex;
    width: 98vw;
    height: 83vh;
    margin-left: 0;
    background-color: #efede6;
}
.adobe-header {
    text-align: left; 
    margin: 0%;
    background-color: #efede6;
    width: max-content;
    padding: 1%;
    font-size: 150%;
    top: 0;
    position: sticky;
    height: auto;
}

.adobe-icons img {
    height: 100%;
    margin-right: 0.5em;
}
ul {
    padding: 1em;
    background-color: #efede6;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0.1em;
    border-color: #7f8d5d;
}
.row {
    position: relative;
}
body {
    width: 100%; 
    height: 100%; 
    background-color: #efede6;
    margin:0;
}
/*sidebar classes*/
.adobe-sidebar {
    flex:2; 
    background-color: #efede6;
    flex-direction: column;
    align-items: baseline;
}
.adobe-sidebar div {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-style: solid;
    border-width: 0em;
    border-bottom-width: 0.1em;
    border-color:#7f8d5d;
    position: sticky;
    display: flex;
}
.adobe-sidebar button {
    margin: 5%;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    width: 30%;
    font-weight: normal;
}
.sidebar-button:hover {
    cursor: pointer;
    background-color: #AAAE7F;
    transition: 0.5s;
}
.square {
    width: auto;
    height: 55%;
    align-items: center;
}
.square img {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
}
/*modal classes*/
.modal {
    position: absolute;
    bottom: 0vh;
    height: 100%;
    width: 70vw;
    transition-duration: 0.5s;
    transition-property: all;
    display: block;
    opacity: 0;
    margin: 0;
    overflow-y: auto;
}
.modal p {
    margin: 3%;
    overflow: auto;
    color: white;
    font-size: 100%;
}
body * {
    z-index: 1;
}
@media (max-width: 1200px) {
    .row img {
        width: 80%;
    }
    .adobe-sidebar button {
        width: 80%;
    }
}