/*color palette
dark green (black forest): #143109
dull green (dry sage): #AAAE7F
dull light green (beige??): #D0D6B3
white (bright snow): #F7F7F7
off white (platinum): #EFEFEF - use as bg to avoid conflicting colors
*/
/*sectioning tags*/ 
html {
    scroll-behavior: smooth;
}
body {
    background-color: #efede6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin: 0%;
    background-image: url("portfolio\ images/scrapbook_bg.png");
    background-size: 100%;
    background-attachment: fixed;
}
a {
    font-family: 'Elms Sans';
    text-decoration: none;
    color: #143109;
}
nav {
    flex-direction: row;
    display: flex;
    width: 100%;
    background-color: gainsboro;
}
ul {
    text-align: center;
    padding: 2%;
    flex: 1;
    margin: 0%;
}
li:hover {
    background-color: #AAAE7F;
}
li {
    display: inline;
    padding: 20px;
    transition-duration: 0.5s;
    border-radius: 3em;
}
div p {
    flex: 1;
}
div img {
    flex: 1;
}
div a {
    flex: 1;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*NAVBAR*/
.circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 60%;
    text-align: center;
    opacity: 50%;
    object-fit: fill;
}  
#current-icon {
    width: 90%;
    opacity: 100%;
}
.nav-button, #left-button, #right-button {
    border-radius: 1em;
    font-size: 150%;
    font-weight: bold;
    color: #45363B;
    font-family: "Limelight";
    width: 5vw;
}
button {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    width: 30%;
    font-weight: bold;
    z-index: 1;
}
/*POLAROIDS*/
div .polaroid {
    width: 15%;
    height: auto;
    position: absolute; 
    top: 20%;
    border-radius: 0em ;
    transition: 1s;
    box-shadow: 5px 5px 5px #b7b6b3, -5px -5px 5px #b7b6b3;
    z-index: 0;
    rotate: -20deg;
    opacity: 30%;
}
div .polaroid:hover {
    cursor: default;
    opacity: 80%;
}
/*text*/
p {
    font-size: 120%;
    font-family: 'Elms Sans';
    margin: 1%;
}
h1 {
    font-family: 'Limelight';
    font-size: 250%;
    color: #45363B;
    margin: 0.5%;
    margin-top: 5%;
}
h2 {
    font-family: 'Limelight';
    font-size: 200%;
    color: #143109;
    border-style: solid;
    padding: 0.5em;
    border-width: 0em;
    border-top-width: 0.05em;
    border-bottom-width: 0.05em;
    margin-top: 3%;
    width: 90%;
    text-align: center;
    border-color: #AAAE7F;
}
h3 {
    font-weight: 400;
}
/*fonts*/
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*images*/
img {
    height: 30%;
    width: 30%;
    flex: 1;
    margin: 2%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    /* height: auto; */
    /* float: center; */
    background-color: #143109cf;
    /* overflow: auto; */
}
.model-content {
    margin: auto;
    overflow: auto;
}
/*buttons*/
button {
    font-family: 'Elms Sans';
    border-width: 0em;
    background-color: #AAAE7F;
    padding: 1em;
}
button:hover {
    cursor: pointer;
}
/*animation*/
.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*home icon*/
#home-icon {
    background-image: url("portfolio\ images/home_icon_brown.png");
    background-size: 100%;
    transition: 0.5s;
    position: fixed;
    top: 10%;
    right: 5%;
    width: 5vh;
    height: 5vh;
}
#home-icon:hover {
    background-image: url("portfolio\ images/home_icon_green.png");
    cursor: pointer;
}
a:has(#home-icon) {
    z-index: 5;
}
/*hides menu*/
#menu {
    display: none;
}
/*formats the page based on the screen size*/
@media (max-width: 800px) {
    /*text*/
    h1{
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 { /*hides the text for the navbar*/
        display: none;
    }
    p {
        font-size: 16px;
    }
    /*menu button*/
    #menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 5%;    
        z-index: 5;
    }
    #menu-icon {
        width: 5vh; 
        height: 5vh;
    }
    #menu-icon:hover {
        cursor: pointer;
    }
    #menu-links {
        display: none;
        flex-direction: column;
        transition: 0.5s;
    }
    #menu-links a {
        padding: 10px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #efede6;
    }
    #menu-links a:hover {
        background-color: #AAAE7F;
        transition: 0.5s;
    }
    #menu:hover #menu-links {
        display: flex;
        transition: 0.5s;
    }
    /*hide home button*/
    #home-icon {
        display: none;
    }
    /*hide navbar*/
    .circle {
        display: none;
    }  
    .nav-button, #left-button, #right-button {
        border-radius: 1em;
        font-size: 150%;
        font-weight: bold;
        color: #45363B;
        font-family: "Limelight";
        width: 5vw;
    }
    #left-button, #right-button {
        display: none;
    }
    /*hide adobe navbar*/
    nav {
        display: none;
    }
    /*hide polaroids*/
    .polaroid {
        display: none;
    }
}